In [24]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [25]:
html_content = '''
<table>
  <tr>
    <th>Student</th>
    <th>Favourite Computer Language</th>
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>
  </tr>
</table>
'''

In [26]:
soup = BeautifulSoup(html_content, 'html.parser')

In [27]:
table_rows = soup.find_all('tr')

In [28]:
headers = [th.text.strip() for th in table_rows[0].find_all('th')]

In [29]:
data = {header: [] for header in headers}

In [30]:
for row in table_rows[1:]:
    row_data = row.find_all('td')
    for i, cell in enumerate(row_data):
        data[headers[i]].append(cell.text.strip())

In [31]:
df = pd.DataFrame(data)

print(df)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15